<header>
    <div class="phone">
        <p><i class="fas fa-mobile-alt"></i> +359 888 555 666</p>
    </div>
    <div class="location">
        <p><i class="fas fa-map-marker-alt"></i> Bulgaria, Varna, 11 Slivnitsa Blvd.</p>
    </div>
    <div class="socials">
        <p>
            <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-youtube"></i></a>
        </p>
    </div>
</header>