<header>
    <div class="phone">
        <p><i class="fas fa-mobile-alt"></i> +359 888 555 666</p>
    </div>
    <div class="location">
        <p>
            <a href="https://www.google.bg/maps/place/бул.+„Сливница“+11,+9000+Варна+Център,+Варна/@43.2042343,27.9190951,17z/data=!3m1!4b1!4m5!3m4!1s0x40a453f7d16d084f:0xe37387ee197cc7d!8m2!3d43.2042343!4d27.9212838" target="_blank">
                <i class="fas fa-map-marker-alt"></i> Bulgaria, Varna, 11 Slivnitsa Blvd.
            </a>
        </p>
    </div>
    <div class="socials">
        <p>
            <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-youtube"></i></a>
        </p>
    </div>
</header>