@media only screen and (max-width: 480px) {

    html {
        font-size: 12px;
        color: red;
    }

    body {
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    .phone,
    .location,
    .socials {
        padding: 0;
        text-align: center;
        margin: 0.5em auto;
    }

    .socials {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 1em auto;
    }

    nav ul li a {
        padding: 0;
        font-size: 1.8em;
    }

    .slogan {
        width: 90%;
        margin: 1em auto;
    }

    .cta-button {
        width: 25%;
    }

    html body.loaded main section.key-points div.container-element div.icon {
        font-size: 2em;
    }

    h3 {
        font-size: 2.0em;
    }

    p.name {
        font-size: 1.7em;
    }

    .key-points .container-element,
    .offer-element {
        flex: 0 0 90%;
    }

    p.description {
        margin-top: 1em;
        font-size: 1.2em;
    }

    form {
        max-width: 90%;
    }

    .submit-button {
        width: 25%;
    }

}



@media only screen and (min-width: 480px) and (max-width: 640px) {

    html {
        font-size: 14px;
        color: green;
    }

    body {
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    .phone,
    .location,
    .socials {
        padding: 0;
        text-align: center;
        margin: 0.5em auto;
    }

    .socials {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 1em auto;
    }

    nav ul li a {
        padding: 0;
        font-size: 1.8em;
    }

    .slogan {
        width: 90%;
        margin: 1em auto;
    }

    .cta-button {
        width: 25%;
    }

    html body.loaded main section.key-points div.container-element div.icon {
        font-size: 2em;
    }

    h3 {
        font-size: 2.0em;
    }

    p.name {
        font-size: 1.7em;
    }

    .key-points .container-element,
    .offer-element {
        flex: 0 0 90%;
    }

    p.description {
        margin-top: 1em;
        font-size: 1.2em;
    }

    form {
        max-width: 90%;
    }

    .submit-button {
        width: 25%;
    }


}



@media only screen and (min-width: 640px) and (max-width: 1045px) {

    html {
        font-size: 16px;
        color: orange;
    }

    body {
        width: 100%;
    }

    header {
        flex-direction: column;
    }

    .phone,
    .location,
    .socials {
        padding: 0;
        text-align: center;
        margin: 0.5em auto;
    }

    .socials {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 1em auto;
    }

    nav ul li a {
        padding: 0;
        font-size: 1.8em;
    }

    .slogan {
        width: 90%;
        margin: 1em auto;
    }

    .cta-button {
        width: 25%;
    }

    html body.loaded main section.key-points div.container-element div.icon {
        font-size: 2em;
    }

    h3 {
        font-size: 2.0em;
    }

    p.name {
        font-size: 1.7em;
    }

    .key-points .container-element,
    .offer-element {
        flex: 0 0 90%;
    }

    p.description {
        margin-top: 1em;
        font-size: 1.2em;
    }

    form {
        max-width: 90%;
    }

    .submit-button {
        width: 25%;
    }
}

@media screen and (max-width: 350px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 1em;
        gap: 0.5em;
    }
}

@media screen and (max-width: 768px) {

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}