<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{page.title}}</title>
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
</head>
<body>

    {% include header.html %}

    <section class="head">

        {% include navigation.html %}

        <h1 class="title">{{ page.title }}</h1>
        <p class="slogan">{{ page.slogan }}</p>
        <a class="cta-button" href="form.html">Book Now!</a>
    </section>

    {{content}}
    {% include footer.html %}

    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</body>
</html>